@media (width <= 600px) {

    header nav {
        display: flex;
        flex-direction: column;

        padding: 0;
    }

    header nav ul li {
        display: flex;
        flex-direction: column;

        justify-content: space-between;
        align-items: center;

        padding-top: 10px;

        font-size: 1em;
    }

    .header-title {
        padding: 1em 0;
    }

    .header-title h1 {
        font-size: 2.2em;
    }

    .header-title p {
        font-size: 1em;
    }

    .team-description {
        padding: 0;
        margin: 0;
    }

    .team-description-wrapper {
        padding: 1rem;
        margin: 0;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;


    }

    .team-description ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        gap: 1em;
    }

    .team-description li {
        list-style-type: none;
    }

    .about-us {
        width: 100%;
    }

    .about-us p:last-child {
        width: 80%;
    }

    .choose-us ul {
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        align-items: center;
    }

    .choose-us ul li {
        width: 50%;
        justify-content: center;
        align-items: center;
    }

    .blog-news {
        padding-bottom: 0;
    }

    .blog-list {
        flex-direction: column;
        padding: 2rem 3rem;
        gap: 2rem;
    }

    .blog-news .blog-list .item .content {
        padding: 0.5em;
    }

    .blog-news ul .item .avatar img {
        object-fit: fill;
        height: 100%;
    }
}