:root {
    --background-dark-gray: rgba(217,216,216,255);
    --background-light-gray: rgba(244,244,245,255);
    --background-white: rgba(255,254,254,255);
    --orange: rgba(255,125,77,255);

    --black: rgba(1,0,1,255);
    --white: rgba(245,245,244,255);
    --gray: rgb(104,106,111);
}

* {
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 1.15;
    font-family: "Inter", serif;
    color: var(--black);
}

/* NAVIGATION BAR */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--background-dark-gray);

    position: fixed;
    top: 0;
    width: 99.9%;
    height: 100px;

    z-index: 100;
}

.left-nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 2em;
}

.left-nav-bar ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.left-nav-bar ul li a {
    text-decoration: none;
}

.left-nav-bar ul li a:hover {
    color: var(--gray);
}

.right-nav-bar {
    padding-right: 2em;
}

.right-nav-bar button {
    padding: 10px 20px;
    border: 1px solid var(--black);
    border-radius: 5px;
    background-color: var(--background-white);
}

.right-nav-bar button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.right-nav-bar button a {
    text-decoration: none;
}

/* GET STARTED - SECTION */
.get-started {
    margin-top: 100px;

    background-image: url("images/background.jpg");
    background-position: 80% 100%;
    background-size: 110%;
    height: 650px;

    display: flex;
    align-items: center;  /* Vertically center the content */
    justify-content: flex-start;
}

.get-started-content {
    /*border: 1px solid blue; !* PLACEHOLDER *!*/
    width: 45%;
    margin-left: 150px;
}

.get-started-content h1 {
    font-size: 60px;
    padding-bottom: 80px;
}

.get-started-content p {
    color: var(--white);
    padding-bottom: 60px;
    font-weight: bold;
}

.get-started-content button {
    border: 1px solid var(--black);
    border-radius: 5px;
    color: var(--white);
    background-color: var(--black);
    padding: 1em;
}

.get-started-content button:hover {
    transform: scale(1.1);
}

/* STATISTICS - SECTION */
.statistics {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.stat {
    justify-content: center;
    align-self: center;
    text-align: center;
}

.stat h1 {
    color: var(--orange);
    font-size: 3em;
    padding-bottom: 40px;
}

.stat h3 {
    font-weight: normal;
    padding-bottom: 10px;
}

.stat p {
    font-size: 15px;
}

/* WHAT WE DO - SECTION */
.what-we-do {
    background-color: var(--background-dark-gray);
    padding: 2em 3em;
    height: 850px;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    height: 250px;
}

.card .left-card {
    width: 650px;
    overflow: hidden;
}

.card .left-card img {
    width: 100%;
    object-fit: cover;

}

.card .right-card {
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.card .right-card h2 {
    font-size: 0.7em;
    color: var(--gray);
}

.card .right-card h1 {
    font-size: 1.2em;
    padding: 1.2em 0;
}

.card .right-card p {
    font-size: 0.7em;
    color: var(--gray);
    padding-bottom: 0.5em;
}

.card .right-card a {
    font-size: 0.8em;
    text-decoration: none;
    font-weight: bold;
}

.card .right-card footer {
    font-size: 0.7em;
    color: var(--gray);
    padding-top: 1.2em;
}

/* PRICING PLANS - SECTION */
.pricing-plans {
    background-color: var(--background-light-gray);
}

.pricing-plan-container {
    background-color: var(--background-white);
    margin: 0 2em;

    display: flex;
    justify-content: space-between;
    height: 400px;
    padding: 50px;
    gap: 2%;
}

.pricing-plan-summary {
    width: 38%;
}
.pricing-plan-summary h1 {
    font-size: 1.2em;
    padding-bottom: 50px;
}
.pricing-plan-summary p {
    font-size: 0.8em;
}

.pricing-plan-cards {
    display: flex;
    width: 60%;
    gap: 5%;
}

.pricing-card {
    width: 47.5%;
    align-items: center;
    justify-content: center;
    text-align: center;

    display: flex;
    flex-direction: column;
    padding: 30px 0;

    box-shadow: 12px 12px 15px  var(--gray);
}

.pricing-card:first-child {
    background-color: var(--orange);
}

.pricing-card:last-child {
    background-color: var(--black);
}

.pricing-card:last-child h1,
.pricing-card:last-child h2,
.pricing-card:last-child .pricing-card-text * {
    color: var(--white);
}

.pricing-card:first-child button {
    background-color: var(--black);
    border: 1px solid var(--black);
    border-radius: 1px;
}
.pricing-card:first-child button a {
    color: var(--white);
}

.pricing-card:first-child button:hover,
.pricing-card:last-child button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.pricing-card h2 {
    font-weight: lighter;
    font-size: 3em;
    padding: 20px 0;
}

.pricing-card .pricing-card-text {
    flex-grow: 1;
}

.pricing-card .pricing-card-text p {
    padding-bottom: 10px;
}

.pricing-card:first-child button,
.pricing-card:last-child button {
    padding: 10px;
    border-radius: 5px;
}

.pricing-card:first-child button a,
.pricing-card:last-child button a {
    font-size: 15px;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10em;

    background-color: var(--background-dark-gray);

    bottom: 0;
    height: 100px;
}

.footer i:hover {
    color: var(--gray);
}