<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/head :: site-head}"></head>

<body>
    <div th:insert="~{fragments/navigation :: site-navigation}"></div>

    <div class="container">
        <h2 class="text-center text-white">Register User</h2>

        <!-- Registration Form Start -->
        <form
                th:action="@{/users/register}"
                th:method="post"

              class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="firstName" class="text-white font-weight-bold">First Name</label>
                    <input id="firstName"
                           name="firstName"
                           type="text"
                           class="form-control"
                           placeholder="First name"/>

    <!--                <p class="errors alert alert-danger">-->
    <!--                    First name is required.-->
    <!--                </p>-->
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label for="lastName" class="text-white font-weight-bold">Last Name</label>
                    <input id="lastName"
                           name="lastName"
                           type="text"
                           class="form-control"
                           placeholder="Last name"/>

    <!--                <p class="errors alert alert-danger">-->
    <!--                    Last name is required.-->
    <!--                </p>-->
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="username" class="text-white font-weight-bold">Username</label>
                    <input id="username"
                           name="username"
                           type="text"
                           class="form-control"
                           placeholder="Username"/>

    <!--                <p class="errors alert alert-danger">-->
    <!--                    Username is required.-->
    <!--                </p>-->
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label for="password" class="text-white font-weight-bold">Password</label>
                    <input id="password"
                           name="password"
                           type="password"
                           class="form-control"
                           placeholder="Password"/>

    <!--                <p class="errors alert alert-danger">-->
    <!--                    Password is required.-->
    <!--                </p>-->
                </div>

            </div>
            <div class="form-group">
                <label class="text-center text-white font-weight-bold" for="roles">Roles</label>
                <select  id="roles"
                         name="role"
                         class="form-control"
                         multiple>
                    <option value="User">USER</option>
                    <option value="Admin">ADMIN</option>
                </select>
    <!--            <p class="errors alert alert-danger">-->
    <!--                Selecting a role is required.-->
    <!--            </p>-->
            </div>

            <div class="row">
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-info btn-lg" value="Register"/>
                    </div>
                </div>
            </div>
        </form>
        <!-- EO: Registration Form End -->
    </div>

    <div>
         <footer> </footer>
    </div>

</body>
</html>
