<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <div class="container bg-blur rounded mt-1 mb-4">
        <h6 class="bg-gray text-dark mb-0 mt-0">Welcome, {username}</h6>
        <div class="row mt-1 mb-2">
            <div class="col-6 mt-1 mb-1">

                <div>
                    <h3 class="mySticky bg-gray text-dark  mb-0 mt-2">Desserts ({count})</h3>
                    <div class="bg-dark rounded m-auto" style="height: 31vh; overflow: auto">
                        <table class="table table-striped table-dark">
                            <tr>
                                <td class="bg-warning" scope="row" style="width: 5%">
                                    <img class="mr-2 " src="/img/dessert.png" alt="Dessert" width="35px" height="35px">
                                </td>
                                <td>{name}</td>
                                <td>{ingredients}</td>
                                <td><a href="/"><img class="mr-2 " src="/img/add-to-favourites.png" alt="Dessert" width="35px" height="35px"></a></td>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div>
                    <h3 class="mySticky bg-gray text-dark  mb-0 mt-2">Cocktails ({count})</h3>
                    <div class="bg-dark rounded m-auto" style="height: 31vh; overflow: auto">
                        <table class="table table-striped table-dark">
                            <tr>
                                <td class="bg-success" scope="row" style="width: 5%">
                                    <img class="mr-2 " src="/img/cocktail.png" alt="Cocktail" width="35px"
                                         height="35px">
                                </td>
                                <td>{name}</td>
                                <td>{ingredients}</td>
                                <td><a href="/"><img class="mr-2 " src="/img/add-to-favourites.png" alt="Cocktail" width="35px" height="35px"></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-6 mt-1 mb-1">
                <div>
                    <h3 class="mySticky bg-gray text-dark  mb-0 mt-2">Main Dishes ({count})</h3>
                    <div class="bg-dark rounded m-auto" style="height: 31vh; overflow: auto">
                        <table class="table table-striped table-dark">
                            <tr>
                                <td class="bg-info" scope="row" style="width: 5%">
                                    <img class="mr-2 " src="/img/main-dish.png" alt="Main-Dish" width="35px" height="35px">
                                </td>
                                <td>{name}</td>
                                <td>{ingredients}</td>
                                <td><a href="/"><img class="mr-2 " src="/img/add-to-favourites.png" alt="Main-Dish" width="35px" height="35px"></a></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div>
                    <h3 class="mySticky bg-gray text-dark  mb-0 mt-2">Favourites ({count})</h3>
                    <div class="bg-dark rounded m-auto" style="height: 31vh; overflow: auto">
                        <table class="table table-striped table-dark">
                            <tr>
                                <td class="bg-primary" scope="row" style="width: 5%">
                                    <img class="mr-2 " src="/img/star.png" alt="Star" width="35px" height="35px">
                                </td>
                                <td>{name}</td>
                                <td>{ingredients}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
