<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <div class="container bg-blur rounded mt-5 ">
        <h1>Welcome to Bon App-étit</h1>
        <hr class="my-3 bg-white w-50"/>

        <p class="h4">
            Introducing the Bon App-étit, your culinary companion for exploring new tastes and connecting with
            fellow food enthusiasts. This app is all about taking your cooking experience to the next level by offering a
            wide range of recipes to suit your palate. Browse through hundreds of innovative recipes created by passionate
            chefs and home cooks. You can add your favorite dishes to your personal recipe collection, share your own
            culinary creations, and discover exciting flavor combinations. Unleash your inner chef and embark on a
            gastronomic journey with Bon App-étit!</p>
        <hr class="my-3 bg-white w-75"/>

        <h3>
            <a class="text-primary" href="/">Login</a>
            if you have an account or
            <a class="text-primary" href="/">Register</a>
            now and check our recipes.
        </h3>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>