<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: site-head}">

</head>

<body>
    <header th:insert="~{fragments/navigation :: site-navigation}"></header>

    <div class="row">
        <div class="col-md-2"></div>

        <main class="jumbotron text-center rounded col-md-8 align-self-center">

            <div class="justify-content-center">
                <h1>Add Company</h1>
            </div>

            <form th:method="post"
                  th:action="@{/companies/add}"
                  th:object="${bindingModel}"
                  class="m-md-auto w-50 text-center">

                <div class="form-group">
                    <label for="name">Name</label>

                    <input th:field="*{name}"
                           th:errorclass="bg-danger"
                           type="text"
                           class="form-control text-center"
                           id="name"
                           aria-describedby="name"/>

                    <small th:if="${#fields.hasErrors('name')}"
                           th:errors="*{name}"
                           class="text-danger">
                        Error message
                    </small>
                </div>

                <div class="form-group">
                    <label for="town">Town</label>

                    <input th:field="*{town}"
                           th:errorclass="bg-danger"
                           type="text"
                           class="form-control text-center"
                           id="town"
                           aria-describedby="town"/>

                    <small th:if="${#fields.hasErrors('town')}"
                           th:errors="*{town}"
                           class="text-danger">
                        Error message
                    </small>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>

                    <input th:field="*{description}"
                           th:errorclass="bg-danger"
                           type="text"
                           class="form-control text-center"
                           id="description"
                           aria-describedby="description"/>

                    <small th:if="${#fields.hasErrors('description')}"
                           th:errors="*{description}"
                           class="text-danger">
                        Error message
                    </small>
                </div>

                <div class="form-group">
                    <label for="budget">Budget</label>

                    <input th:field="*{budget}"
                           th:errorclass="bg-danger"
                           type="number"
                           min="0"
                           class="form-control text-center"
                           id="budget"
                           aria-describedby="budget"/>

                    <small th:if="${#fields.hasErrors('budget')}"
                           th:errors="*{budget}"
                           class="text-danger">
                        Error message
                    </small>
                </div>

                <button type="submit" class="btn btn-secondary">Add Company</button>
            </form>
        </main>
    </div>

    <footer id="footer">
        <div class="container-fluid bg-transparent rounded">
            <div class="text-white p-2 text-center">&copy; Spring Team 2020. All rights reserved.</div>
        </div>
    </footer>
</body>
</html>