<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/head :: site-head}">

</head>

<body>
    <header th:insert="~{fragments/navigation :: site-navigation}"></header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <main class="jumbotron text-center rounded col-md-12 align-self-center">
                    <div class="justify-content-center">
                        <h1>Company Details</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-6 bg-dark"><img src="/pic/company.png" height="350px"></div>
                        <div class="col-md-6 bg-dark">
                            <h2>Company</h2>
                            <h4 th:text="${'Name: ' + company.name}">Name: {name}</h4>
                            <h4 th:text="${'Town: ' + company.town}">Town: {town}</h4>
                            <h4 th:text="${'Description: ' + company.description}">Description: {description}</h4>
                            <h4 th:text="${'Budget: ' + company.budget}">Budget: {budget}</h4>

                            <div class="align-bottom">
                                <a class="btn btn-danger align-bottom"
                                   th:href="@{/companies/delete/{id}(id=${company.id})}">Delete company</a>

                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </main>
    <footer id="footer">
        <div class="container-fluid bg-transparent rounded">
            <div class="text-white p-2 text-center">&copy; Spring Team 2020. All rights reserved.</div>
        </div>
    </footer>
</body>
</html>