<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: site-head}">

</head>

<body>
    <header th:insert="~{fragments/navigation :: site-navigation}"></header>

    <main>
        <div class="container">
            <h2 class="text-center text-dark bg-light rounded-circle mt-5">All companies</h2>

            <hr style="width: 50%"/>

            <div class='row mb-4 d-flex justify-content-around'>

                <!-- START: Company container -->
                <div th:each="company : ${companies}"
                     th:action="@{/companies/all}"
                     class="col-md-4 d-flex flex-column bg-text mb-3 rounded-circle">

                    <h2 th:text="${'Company: ' + company.name}">Company: {name}</h2>
                    <h4 th:text="${'Town: ' + company.town}">Town: {town}</h4>
                    <h4 th:text="${'Description: ' + #strings.substring(company.description, 0, 5)}">Description: {description - first 5 char} ...</h4>

                    <h4>
                        <a class="btn-block" th:href="@{/companies/details/{id}(id=${company.id})}">Detail info</a>
                    </h4>
                </div>
                <!-- END: Company container -->

            </div>
        </div>
    </main>

    <footer id="footer">
        <div class="container-fluid bg-transparent rounded">
            <div class="text-white p-2 text-center">&copy; Spring Team 2020. All rights reserved.</div>
        </div>
    </footer>
</body>
</html>