:root {
    --black: #010100;
    --black-hover: RGB(1, 1, 0, 0.6);
    --light-blue: #ade3de;
    --light-blue-hover: RGB(173, 227, 222, 0.6);
    --gray: #f2f5fb;
}

* {
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 1.15;
    font-family: Inter, serif;
}

.container {
    display: flex;
    flex-direction: column;
}

/* NAVIGATION BAR */

.navigation-bar-container {
    background-color: white;
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.nav-bar {
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    height: 100px;
    width: 100%;
}

.left-nav-bar {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.left-nav-bar span a {
    text-decoration: none;
    color: var(--black);
}
.left-nav-bar span a:hover {
    color: var(--black-hover);
}

.right-nav-bar {
    display: flex;
    gap: 20px;
}

.sign-up-button,
.log-in-button {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
}

.sign-up-button {
    background-color: var(--light-blue);
}

.log-in-button {
    background: none;
}

.sign-up-button:hover,
.log-in-button:hover {
    cursor: pointer;
    background-color: var(--light-blue-hover);
}

/* DOWNLOAD SECTION */
.download-section {
    background-color: var(--light-blue);
    margin-top: 100px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.download-section-text {
    padding-bottom: 40px;
}

.download-section-text h1 {
    font-size: 3em;
    padding-bottom: 20px;

}
.download-section-text p {
    font-size: 0.9em;
}

.download-section-buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.download-button {
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--black);
    color: white;
}

.download-button:hover {
    background-color: var(--black-hover);
    cursor: pointer;
}

/* STAT SECTION */

.stat-section-container {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.stat-section {
    display: flex;
    align-self: center;
    max-width: 1200px;
}

.stat-card {
    text-align: center;
    width: 33%;
}

.stat-card h1 {
    font-size: 2em;
    padding-bottom: 25px;
}

.stat-card p {
    padding-bottom: 60px;
}

.stat-card:first-child,
.stat-card:nth-child(2) {
    border-left: 1px solid gray;
}

.stat-card:nth-child(2),
.stat-card:nth-child(3) {
    border-right: 1px solid gray;
}

/* EXPLORE SECTION */
.explore-section-container {
    display: flex;
    justify-content: center;
    background-color: var(--light-blue);
}

.explore-section {
    display: flex;
    max-width: 1000px;
    height: 550px;
}

.left-side {
    border: 1px dashed gray;
}

.left-side img {
    height: 100%;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-side-text-container {
    margin: 50px;
}

.right-side-text-container h1 {
    font-size: 2em;
    padding-bottom: 30px;
}
.right-side-text-container h4 {
    padding-bottom: 15px;
}

.right-side-text-container p {
    padding-bottom: 30px;
}

.right-side-text-container p:nth-child(5) {
    padding-bottom: 60px;
}

.right-side-text-container span {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}


.right-side-text-container span a {
    text-decoration: none;
    color: var(--black);
}

.right-side-text-container span a:hover {
    color: var(--black-hover);
}

/* PRICING SECTION */
.pricing-section-container {
    background-color: var(--gray);
    height: 800px; /* CAPPED! */
}

.pricing-section {
    background-color: #f2f5fb;
    height: 800px; /* CAPPED! */
}

.pricing-header {
    padding: 50px 0 80px 0;
}

.pricing-header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pricing-header-text-button {
    margin-bottom: 40px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--light-blue);
}

.pricing-header-text-button p {
    width: 100%;
}

.pricing-header-text h1 {
    font-size: 2em;
}

/* PRICING CARDS BORDERS & COLOR */
.cards-container {
    display: flex;
}

.pricing-cards {
    height: 500px; /* CAPPED! */
    width: 60%;

    display: flex;

    background-color: white;
    border-radius: 20px 0 0 20px;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;

    padding: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 33.333%;

    flex-grow: 1;
}

.card:nth-child(2) {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.expand-card {
    width: 40%;
    background-color: var(--light-blue);
    border-radius: 0 20px 20px 0;
    border: 1px solid gray;
    padding: 20px;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* PRICING CARDS CONTENT */
ul {
    list-style-type: none;
}

.card-header {
    border-bottom: 1px solid gray;
}

.card-header h1 {
    text-align: center;
    padding-bottom: 10px;
}
.card-header p {
    font-size: 0.8em;
    padding-bottom: 15px;
}

.price {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    padding-bottom: 15px;
}

.price h1 {
    font-size: 2em;
}

.card-body,
.expand-card-body {
    font-size: 0.5em;
    padding-top: 30px;

    flex-grow: 1; /* IMPORTANT!!!! */
}

.card-body ul,
.expand-card-body ul {
    font-size: 0.5em;
}

.card-body ul li,
.expand-card-body ul li {
    font-size: 15px;
    padding-top: 10px;
}

.card-body ul li i,
.expand-card-body ul li i {
    font-size: 15px;
}

.expand-card-header h1 {
    text-align: center;
    padding-bottom: 10px;
}
.expand-card-header p {
    font-weight: bold;
}

.card-footer,
.expand-card-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.get-plan-button,
.contact-us-button {
    border-radius: 10px;
    border: none;
    height: 100%;
    width: 100%;
}

.get-plan-button {
    background-color: var(--light-blue);
}

.contact-us-button {
    background-color: var(--black);
    color: white;
}

.get-plan-button:hover {
    background-color: var(--light-blue-hover);
    cursor: pointer;
}

.contact-us-button:hover {
    background-color: var(--black-hover);
    cursor: pointer;
}

/* DOWNLOAD SECTION 2 */
.download-section-text2 {
    width: 500px;
}

.download-section2 {
    margin-top: 0;
}

/* FOOTER SECTION */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 60px;
}

.right-footer {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.right-footer a {
    text-decoration: none;
    color: var(--black);
}

.right-footer a:hover {
    color: var(--black-hover);
}